[Unit]
Description=Octelium Desktop daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
StateDirectory=octelium-desktop
StateDirectoryMode=0700
Environment=OCTELIUM_HOME=/var/lib/octelium-desktop
ExecStart=/usr/bin/octelium-desktop-daemon daemon
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
