[Unit]
Description=Octelium Desktop daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
StateDirectory=octelium-desktop
StateDirectoryMode=0700
ExecStart=/usr/bin/octelium-desktop-daemon --homedir /var/lib/octelium-desktop daemon
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
